@import "partials/reset";
@import "partials/fonts";
@import "partials/variables";
@import "partials/functions";
@import "partials/general";

@import "partials/header";
@import "partials/footer";
@import "partials/home";
@import "partials/home-article-two";
@import "partials/home-article-justified";