
@font-face {
  font-family: 'FreightDispProSemibold-Regular';
  src: url('FreightDispProSemibold-Regular.eot?#iefix') format('embedded-opentype'),  url('FreightDispProSemibold-Regular.woff') format('woff'), url('FreightDispProSemibold-Regular.ttf')  format('truetype'), url('FreightDispProSemibold-Regular.svg#FreightDispProSemibold-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
