
@font-face {
  font-family: 'FreightDispProBold-Regular';
  src: url('FreightDispProBold-Regular.eot?#iefix') format('embedded-opentype'),  url('FreightDispProBold-Regular.woff') format('woff'), url('FreightDispProBold-Regular.ttf')  format('truetype'), url('FreightDispProBold-Regular.svg#FreightDispProBold-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
