@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

@font-face {
   font-family: 'ArialMT';
   src: url('fonts/ArialMT/ArialMT.eot?#iefix') format('embedded-opentype'),  
        url('fonts/ArialMT/ArialMT.woff') format('woff'), 
        url('fonts/ArialMT/ArialMT.ttf')  format('truetype'), 
        url('fonts/ArialMT/ArialMT.svg#ArialMT') format('svg');
   font-weight: normal;
   font-style: normal;
 }
 
@font-face {
   font-family: 'FreightDispProBold-Regular';
   src: url('fonts/FreightDispProBold-Regular/FreightDispProBold-Regular.eot?#iefix') format('embedded-opentype'),  
        url('fonts/FreightDispProBold-Regular/FreightDispProBold-Regular.woff') format('woff'), 
        url('fonts/FreightDispProBold-Regular/FreightDispProBold-Regular.ttf')  format('truetype'), 
        url('fonts/FreightDispProBold-Regular/FreightDispProBold-Regular.svg#FreightDispProBold-Regular') format('svg');
   font-weight: normal;
   font-style: normal;
 }
 
 @font-face {
   font-family: 'FreightDispProBook-Regular';
   src: url('fonts/FreightDispProBook-Regular/FreightDispProBook-Regular.eot?#iefix') format('embedded-opentype'),  
        url('fonts/FreightDispProBook-Regular/FreightDispProBook-Regular.woff') format('woff'), 
        url('fonts/FreightDispProBook-Regular/FreightDispProBook-Regular.ttf')  format('truetype'), 
        url('fonts/FreightDispProBook-Regular/FreightDispProBook-Regular.svg#FreightDispProBook-Regular') format('svg');
   font-weight: normal;
   font-style: normal;
 }

 @font-face {
   font-family: 'FreightDispProSemibold-Regular';
   src: url('fonts/FreightDispProSemibold-Regular/FreightDispProSemibold-Regular.eot?#iefix') format('embedded-opentype'),  
        url('fonts/FreightDispProSemibold-Regular/FreightDispProSemibold-Regular.woff') format('woff'), 
        url('fonts/FreightDispProSemibold-Regular/FreightDispProSemibold-Regular.ttf')  format('truetype'), 
        url('fonts/FreightDispProSemibold-Regular/FreightDispProSemibold-Regular.svg#FreightDispProSemibold-Regular') format('svg');
   font-weight: normal;
   font-style: normal;
 }

 @font-face {
   font-family: 'FreightTextProBook-Regular';
   src: url('fonts/FreightTextProBook-Regular/FreightTextProBook-Regular.eot?#iefix') format('embedded-opentype'),  
        url('fonts/FreightTextProBook-Regular/FreightTextProBook-Regular.otf')  format('opentype'),
        url('fonts/FreightTextProBook-Regular/FreightTextProBook-Regular.woff') format('woff'), 
        url('fonts/FreightTextProBook-Regular/FreightTextProBook-Regular.ttf')  format('truetype'), 
        url('fonts/FreightTextProBook-Regular/FreightTextProBook-Regular.svg#FreightTextProBook-Regular') format('svg');
   font-weight: normal;
   font-style: normal;
 }

 /*
 
   font-family: 'Lato', sans-serif;

   freight-sans-condensed-pro
   400

   tk-freight-sans-condensed--n5
   700

   tk-freight-sans-condensed--n6
   900

   ///////////////////////////////

   font-family: 'ArialMT';

   tk-freight-sans-pro-n4
   font-family: 'FreightDispProBook-Regular';

   tk-freight-display-pro-n7
   font-family: 'FreightDispProBold-Regular';
   
   tk-freight-display-pro-n6
   font-family: 'FreightDispProSemibold-Regular';
 
   tk-freight-text-pro-n4 
   font-family: 'FreightTextProBook-Regular'; 
 
 */