// header fixed on scroll classs
.header-fixed {
   position: fixed !important;
   left: 50%;
   transform: translateX(-50%);

   .top-header {
      display: none !important;
   }

   .bottom-header {
     

      s .head-nav {
         &>ul {
            &>li {
               a {
                  padding: 1.1rem 5px !important;
               }
            }
         }
      }

      .head-home {
         a {

            .head-home-text {
               opacity: 0 !important;
               visibility: hidden !important;
            }

            &::after {
               visibility: visible !important;
               opacity: 1 !important;
               display: block !important;
            }

            &::before {
               display: block !important;
            }
         }
      }

      .social-nav {
         padding: 0 !important;
      }

      .header-search {
         form {

            &>a.fa-search {
               margin: 0 !important;
            }
         }
      }
   }
}

.header {
   // display: none;
   background-color: $blank;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 19;
   margin-bottom:3.1rem;

   // top header
   .top-header {
      display: none;
      align-items: center;
      justify-content: center;
      padding: 2.8rem;

      a.logo {
         width: 163px;
         height: 72px;
         position: relative;

         &::after {
            content: '';
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: url('../img/svg/logo/gloria-logo.svg');
            background-repeat: no-repeat;
            background-position: center center;
         }
      }

   }

   //bottom header
   .bottom-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 7px 1.4rem;
      border-bottom: $link-border 1px solid;

      //hamburger menu

      .ham-open {
         div {
            &:first-of-type {
               transform: translate(-50%, 0) rotateZ(45deg);
            }

            &:nth-of-type(2) {
               display: none;
            }

            &:last-of-type {
               transform: translate(-50%, 0) rotateZ(-45deg);
            }
         }
      }

      .ham-close {
         div {
            &:first-of-type {
               transform: translate(-50%, -300%);
            }

            &:last-of-type {
               transform: translate(-50%, 200%);
            }
         }
      }

      .ham-menu {
         width: 45px;
         height: 45px;
         position: relative;


         div {
            height: 2px;
            width: 2.4rem;
            background: $void;
            position: absolute;
            transform-origin: center;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
         }

      }

      // bottom header logo

      .head-home {
         a {
            padding: 1.1rem;
            position: relative;
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            @include text-format(1.8rem, 2rem, 0);
            text-transform: uppercase;
            color: $sublink-color;

            .head-home-text {
               opacity: 0;
               visibility: hidden;
               transition: 0.3s ease;
            }

            &::after {
               content: '';
               visibility: visible;
               opacity: 1;
               transition: 0.3s ease;
               position: absolute;
               display: block;
               top: 0;
               left: 0;
               bottom: 0;
               right: 0;
               background: url('../img/svg/logo/gloria-logo.svg');
               background-repeat: no-repeat;
               background-position: center center;
            }

            &::before {
               content: '';
               position: absolute;
               display: none;
               top: 0;
               left: 0;
               bottom: 0;
               right: 0;
               z-index: 2;
               background: rgba($white, 0.85);
            }
         }
      }

      // header navigation

      .head-nav-block {
         display: block !important;
      }

      .head-nav {
         background-color: $blank;
         position: absolute;
         top: 100%;
         left: 0px;
         width: 100%;
         height: calc(100vh - 72px);
         display: none;
         overflow-y: scroll;


         &>ul {
            display: flex;
            flex-flow: column nowrap;
            align-items: left;

            &>li {

               border-bottom: $link-border 1px solid;
            }

            &>li>ul {
               transition: all 0.5s ease;
               overflow: hidden;
               height: 0;

               li {
                  position: relative;

                  &::after {
                     content: '';
                     transition: 0.1s ease;
                     position: absolute;
                     display: block;
                     bottom: 0;
                     left: 0;
                     height: 0;
                     width: 100%;
                     background-color: $link-hover;
                  }

                  &:hover::after {

                     height: 3px;
                  }
               }
            }

            &>li>ul a {
               color: $sublink-color;
               text-transform: capitalize;
               padding: 1rem 2.4rem;
            }

            a {
               font-family: 'Lato', sans-serif;
               font-weight: 700;
               @include text-format(1.8rem, 2rem, 0);
               text-transform: uppercase;
               color: $main-text;
               padding: 1rem 0 1rem 2.4rem;

               // padding:1.1rem 1rem 2.1rem;
            }

            &>li>a {
               display: flex;
               align-items: center;
               justify-content: space-between;

               &>span {
                  &:nth-of-type(2) {
                     border-left: $link-border 1px solid;
                     padding: 1.7rem 2rem;
                     color: #bbb;
                  }
               }
            }

            &>li>a:nth-of-type(n+6) {
               &>span {
                  &:last-of-type {
                     display: none;
                  }
               }
            }
         }
      }

      // header social navigation

      .social-nav {
         display: none;
      }

      // header search bar

      .header-search {
         position: relative;

         .search-visible {
            visibility: visible !important;
            opacity: 1 !important;
         }

         .header-search-input {
            transition: 0.5s ease;
            visibility: hidden;
            opacity: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 100%;
            display: flex;
            align-items: center;
            box-shadow: 0 5px 10px rgba($void, 0.35);
            z-index: 21;

            input,
            .fa-search {
               padding: 1rem;
               border: none;
               border-bottom: 2px solid $link-hover;
            }

            input {
               font-family: 'FreightTextProBook-Regular';
               width: 190px;

               &:focus {
                  outline: none;
                  background-color: transparent;
                  border-bottom-color: $void;
               }
            }

            .fa-search {
               background: $link-hover;
               color: $blank;
            }
         }

         a.fa-search {
            color: $sublink-color;
            padding: 1.7rem;
            font-size: 2rem;
         }
      }



   }
}

@media (min-width:992px) {
   .header-fixed {
      position: fixed !important;
      left: 50%;
      transform: translateX(-50%);

      .top-header {
         display: none !important;
      }

      .bottom-header {
         
         .head-nav {
            &>ul {
               &>li {
                  a {
                     padding: 1.1rem 5px !important;
                  }
               }
            }
         }

         .head-home {
            a {

               .head-home-text {
                  opacity: 0 !important;
                  visibility: hidden !important;
               }

               &::after {
                  visibility: visible !important;
                  opacity: 1 !important;
                  display: block !important;
               }

               &::before {
                  display: block !important;
               }
            }
         }

         .social-nav {
            padding: 0 !important;
         }

         .header-search {
            form {

               &>a.fa-search {
                  margin: 0 !important;
               }
            }
         }
      }
   }


   .header {
      position: relative;
      border-bottom: $void 3px solid;

      .top-header {
         display: flex;
      }

      .bottom-header {
         // position: relative;
         padding: 0;
         align-items: flex-end;
         border:none;

         .ham-menu {
            display: none;
         }

         .head-home {
            a {
               padding-bottom: 2rem;

               .head-home-text {
                  opacity: 1;
                  visibility: visible;
                  @include text-format(1.4rem, 2rem, 0.1rem);
               }

               &::after {
                  visibility: hidden;
                  opacity: 0;
                  width: 6.7rem;
               }

               &::before {
                  display: none;
               }

            }
         }

         .head-nav {
            position: relative;
            display: block;
            height: auto;
            overflow-y: auto;

            &>ul {
               display: flex;
               flex-flow: row nowrap;

               &>li {
                  border: none;

                  a {
                     font-weight: 700;
                     padding: 1.1rem 5px 2rem;
                     font-size: 1.4rem;
                     position: relative;
                     transition: 0.15s ease;

                     &::after {
                        content: '';
                        transition: 0.15s ease;
                        display: block;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 0;
                        background: $link-hover;
                     }

                     &:hover::after {
                        height: 3px;
                     }

                     &:hover {
                        color: $link-hover;
                     }
                  }
               }

               &>li>ul {
                  display: none;
               }

               &>li>a>span:last-of-type {
                  display: none;
               }
            }
         }

         .social-nav {
            display: block;
            padding: 1rem 0;
            transition: padding 0.3s ease;

            ul {
               display: flex;

               a {
                  color: $sublink-color;
                  padding: 1.7rem;
                  font-size: 2rem;
                  border-right: 1px solid $link-border;
               }
            }
         }

         .header-search {
            .header-search-input {
               .fa-search {
                  margin: 0;
               }
            }

            a.fa-search {
               transition: margin 0.3s ease;
               margin-bottom: 1rem;
            }
         }
      }
   }

}

@media (min-width:1180px) {
   .header {
      .bottom-header {

         .head-home {
            a {

               .head-home-text {
                  font-size: 1.8rem;
               }
            }
         }

         .head-nav {
            position: relative;
            display: flex;
            height: auto;
            justify-content: center;
            align-items: center;

            &>ul {
               &>li {
                  a {
                     font-size: 1.8rem;
                  }
               }
            }
         }
      }
   }
}