.horoscope-title {
   margin-left: 1rem;
   margin-right: 1rem;

}



.horoscope-articles {
   margin: 0 5%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: stretch;


   .horoscope-article {

      flex: 0 0 25%;
      width: 25%;
      margin-bottom: 3rem;
      
      a {
         border-right: 1px solid lighten($home-link, 40%);
         height: 100%;
         padding: 3rem 1rem;
         display: flex;
         flex-flow: column nowrap;
         justify-content: space-between;
         align-items: center;
         transition: 0.3s ease;
      }

      .horoscope-sign {
         transition: 0.3s ease;
         max-width: 60px;
         margin-bottom: 2rem;
      }

      .horoscope-article-title {
         transition: 0.3s ease;
         font-family: 'ArialMT';
         color: $home-link;
         @include text-format(1.5rem, 1rem);
         text-transform: capitalize;
      }

      &:hover {
         background-color: $link-hover;

         .horoscope-sign {
            filter: invert(100%) grayscale(100%) contrast(200%) brightness(150%);
         }

         .horoscope-article-title {
            color: $blank;
         }

      }

      &:last-of-type a {
         border-right: none;
      }
   }

}




@media (min-width:768px) {



   .border {
      max-width: 95% !important;
   }

   .horoscope-articles {
      flex-wrap: nowrap;

      .horoscope-article {
         margin-bottom: 1rem;
         flex: 0 0 8.33%;
         width: 8.33%;
      }
   }

}