.sub-category {
   .sub-category-articles {
      .home-main-articles-section {
         flex-flow: column nowrap;

         .home-article {
            display: flex;
            flex-flow: row nowrap;
            flex: 100%;
            width: 100%;
            position: relative;


            .article-img {
               width: 100%;
               flex: 0 0 30%;
               width: 30%;
            }

            .article-content {
               padding: 0;
               position: absolute;
               top: 50%;
               transform: translateY(-50%);
               left: calc(30% + 2rem);
               height: 100%;

               .article-title {
                  text-align: left;
                  @include text-format(1.8rem, 2.4rem);
                  font-family: 'FreightDispProBold-Regular';
               }
            }

            .article-content-text {
               position: relative;
               top:50%;
               transform: translateY(-50%);
               overflow: hidden;
               // height: 120%;

               max-height: calc(3rem + (3 * 2.4rem));
               display: flex;
               flex-flow: column nowrap;
               align-items: flex-start;
               justify-content: flex-start;
            }
         }
      }

      .border {
         max-width: 100%;
      }
   }

   .sub-category-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 3rem;

      &>a {
         color:$link-hover;
         &:first-of-type {
            margin-right:3rem;
         }
      }
      
      ul {
         display: flex;
         justify-content: center;
         align-items: center;
         margin-right:3rem;
         li {
            margin-right:1.5rem;
            font-family: 'Lato', sans-serif;
            @include text-format(2.4rem, 3rem, 2.4px);
            &:last-of-type {
               margin-right:0;
            }
            a {
               color:$main-text;
            }
            &:first-of-type {
               a {
                  color:lighten($main-text, 60%);
               }
            }
            
         }
      }
   }

}

@media (min-width:360px) {
   .sub-category {
      .sub-category-articles {
         .home-main-articles-section {
            .home-article {
               .article-content {
                  .article-content-text {
                     max-height:calc(3rem + (5 * 1.6rem));
                  }
                  .article-title {
                     @include text-format(1.4rem, 1.6rem);
                     font-family: 'FreightDispProBold-Regular';
                  }
               }
            }
         }
      }
   }
}

@media (min-width:741px) {
   .sub-category {
      .sub-category-articles {
         .home-main-articles-section {
            .home-article {
               .article-content {
                  .article-content-text {
                     max-height:calc(3rem + (5 * 2.4rem));
                  }
                  .article-title {
                     @include text-format(1.8rem, 2.4rem);
                     font-family: 'FreightDispProBold-Regular';
                  }
               }
            }
         }
      }
   }
}

@media (min-width:768px) {
   .sub-category {

      .sub-category-content {
         display:flex;
         justify-content: space-between;
         align-items: stretch;
      }

      .sub-category-articles {
         flex:0 0 75%;
         max-width:75%;
         .home-main-articles-section {
            .home-article {
               .article-content {
                  .article-content-text {
                     max-height:calc(3rem + (5 * 3rem));
                  }
                  .article-title {
                     @include text-format(2.4rem, 3rem);
                     font-family: 'FreightDispProBold-Regular';
                  }
               }
            }
         }
      }
   }
}