$dark: #333;
$white: #fff;
$black: #000;
$light-gray: #e5e5e5;
$light-gray-two: #F2F2F2;
$middle-gray: #999;
$red: #ff3948;
$gray: #bbb;
$dark-gray:#5f6060;
$darker-gray : #666;
$violet: #ab3f97;
$light-black : #171717;
$light-gray-three : #ccc;
$lightest-gray: #dfdfdf;



$void: $black;
$blank: $white;
$main-text: $dark;
$link-border: $light-gray;
$link-hover: $red;
$sublink-color:$middle-gray;
$search-color:$gray;
$top-footer-bg: $light-gray-two;
$footer-copyright: $dark-gray;
$home-link: $darker-gray;
$healthy-title: $violet;
$black-news: $light-black;
$span-color: $light-gray-three;
$horoscope-border:$lightest-gray